* text=auto eol=lf

*.py text diff=python
*.ipynb text linguist-detectable=true

*.ipynb diff=jupyter

*.json text
*.md text diff=markdown

*.jpg binary
*.png binary

notebooks/* linguist-generated=false
assets/* linguist-generated=false

LICENSE text
